@media (max-width: 50rem) {
  .workout-types-list {
    .slick-list {
      margin: 0 -0.4rem;
    }
    .slick-slide > div {
      padding: 0 0.4rem;
    }
  }
  .signup-button {
    height: clamp(1.7rem, 6vw, 2rem);
  }
}
@media (max-width: 34.35rem) {
  .workout-types-list {
    .slick-list {
      margin: 0 -0.2rem;
    }
    .slick-slide > div {
      padding: 0 0.2rem;
    }
  }
}
